@import '../Core/Reset.scss';
@import "../Core/Variables.scss";

.about {
    
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin: 1.6rem 2rem 1.6rem 2rem;

 &__aboutMe {
     font-size: 1.5rem;
     font-weight: 800;
     text-transform: uppercase;
     margin-bottom: 2rem;
     }

 &__text {
     text-align: left;
     padding-bottom: 1.25rem;
     line-height: 30px;
     
 }
}
