@import '../Core/Reset.scss';
@import "../Core/Variables.scss";

.about {
    color: $--color-primary2;
    display: flex;
    flex-direction: column;
    align-items: center;

 &__aboutMe {
     font-size: 1.5rem;
     font-weight: 800;
     color: $--color-primary2;
     margin-top: 1.5rem;
     text-transform: uppercase;

     }

 &__text {
     text-align: center;
     margin: 1.6rem 1.3rem 1.5rem 1.3rem;
 }


}

//UTILIZAR GRID SEPARAR SOBRE MI Y EL TEXTO??
// //tablet y desktop
// .prueba {
//     display: grid;
//     grid-template-columns: 1fr 1fr;

// }