@import '../Core/Reset.scss';
@import "../Core/Variables.scss";

.about {
    
    background-color: $--color-bg5;
    color: $--color-white;
    display: flex;
    flex-direction: column;
    align-items: center;

 &__aboutMe {
     font-size: 2.5rem;
     font-weight: 800;
     color: $--color-bg3;
     margin-top: 1.5rem;

     }

 &__formation {
     color: $--color-white;
 }
 &__text {
     text-align: center;
     margin: 1.6rem 1.3rem 1.5rem 1.3rem;
 }


}

//UTILIZAR GRID SEPARAR SOBRE MI Y EL TEXTO??
// //tablet y desktop
// .prueba {
//     display: grid;
//     grid-template-columns: 1fr 1fr;

// }