@import '../Core/Reset.scss';
@import "../Core/Variables.scss";

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8rem;
    background-color: $--color-yellow;

    &__social {
      width: 30%;
      display: flex;
      justify-content: space-evenly;
      font-size: 16px;
    }

    &__icons {
        font-size: 22px;
        margin-bottom: 10px;
        padding: 5px;
        color: $--color-black;
    }

    &__island {
        font-size: 1.5rem;
    }

    @media all and (min-width: 768px){
        &__copyrigth {
        font-size: 18px;
    } 
    }
}

