@import '../Core/Reset.scss';
@import "../Core/Variables.scss";



.header {
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding: 2rem 0 2rem 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    position: relative;

&__dots {
    position: absolute;
    z-index: -5;
    width: 80%;
}
 //TEXT

 &__hello {
     font-size: 1.5rem;
    //  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
     
 }

 &__name {
    font-size: 2rem;
   
 }

 &__frontEnd {
     font-size: 1.2rem;
     
 }

 //BUTTONS

 &__link--cv {
    padding: 0.7rem;
    transition: color 0.6s;

    &:hover {
        
    }
 }

 &__link--talk {
    
    padding: 0.7rem; 
    transition: color 0.6s;
 }

    &__btn--cv {
    margin-top: 2.5rem;
    
    margin-right: 1.5rem;
    transition: background-color 0.6s;
 }

 &__btn--talk {
     transition: background-color 0.6s;
     &:hover {
      
     }
  
 }


 //SECTION2

  &__section2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }

 //IMG

 &__img {
     width: 250px;
     height: 400px;
     margin-top: 4rem;
    //  border-radius: 6rem 6rem 6rem 6rem ;
    //  border-radius: 12rem 12rem 0 0  ;
    //  background: linear-gradient(#3fd1d1, transparent);//Gradiante fondo hero
     padding: 2rem 1.5rem 1.5rem 1.5rem;
 }

 //SOCIAL ICONS

 &__socials {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 0.8rem;
     margin-right: 1rem;
     margin-left: 1rem;
     margin-top: 18rem;
     font-size: 1.5rem;

     &::after {
         content: "";
         width: 1px;
         height: 2rem;
     }
 }

 &__arrow {
    margin-top: 25rem;
    justify-self: end;
    margin-left: 1rem;
    font-size: 1.5rem;
    transition: transform 1s;

    &:hover {
        transform: translateY(20px);
    }
 }

}


.line {
    width: 70px;
}