@import '../Core/Reset.scss';
@import "../Core/Variables.scss";

.header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    position: relative;
    
  
 &__imgAndIcons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }

 //BUTTONS
    &__btn {
    margin-top: 2.5rem;
    gap: 0.8rem;
    margin-right: 8px;
    margin-left: 8px;
 }
 
 //IMAGE

 &__img {
     width: 250px;
     align-self: center;
 }

 //SOCIAL ICONS
 &__socials {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 0.8rem;
     position: absolute;
     left: 2rem;
     bottom: 3rem;
 }
 
}

