@import '../Core/Reset.scss';
@import "../Core/Variables.scss";

.proyects {

    &__proyects {
     margin: 1.6rem;
     display: flex;
     flex-direction: column;
     align-items: center;  
    }

    &__title {
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 1.5rem;
        font-size: 1.5rem;
        font-weight: 800;
        color: #2f315b;
        text-transform: uppercase;
    }

    @media all and (min-width: 768px){

        &__proyects {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-left: 200px;
            margin-right: 200px;   
        }

        &__title {
            display: flex;
            align-items: center;
        }
    
    }
}

//Cada proyecto

.proyect {
   
&__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 5px 10px $--color-light-blue;
    border-radius: 25px;
    margin-bottom: 5rem;
    width: 80%;
    height: auto;
}

&__name {
    text-align: center; 
    color: $--color-dark-blue;
    margin: 1.4rem 0rem 1rem 0rem;
    font-weight: bold;
    font-size: 18px;
}

&__img {
    display: block;
    width: 250px;
    border-radius: 5px;
    padding: 1rem;
}

&__info {
    padding: 1rem;
    text-align: left;
    line-height: 1.5;
}

&__links {
    display: flex;
   flex-direction: row;
   justify-content:space-evenly;
   width: 100%;
}

&__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem 1rem 0rem;
    font-size: 1.8rem;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    color: $--color-dark-blue;
    box-shadow: 2px 2px 5px $--color-dark-blue;
    cursor: pointer;
}

@media all and (min-width: 768px){
    &__article {
        width: 40%;
    }}

    @media all and (min-width: 1200px){
        &__article {
          width: 25%;
          margin-left: 20px;
          margin-right: 20px;
        }
}
}

