@import '../Core/Reset.scss';
@import "../Core/Variables.scss";

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    
     &__title {
        font-size: 2.5rem;
        font-weight: 800;
        color: $--color-bg5;
        margin-bottom: 1rem;
        margin-top: 2rem;

     }

     &__iconsSection { //SECCIÓN ICONOS Y TEXTO
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.3rem;
        justify-content: center;
        margin-left: 1.3rem;
        margin-right: 1.3rem;
     }

     &__icon {    //ICONO
        text-align: center;  
        justify-content: center;
        font-size: 2.5rem;
        color: $--color-primary;
        transition: all 0.3s ease-out;
        width: 6rem;
       
        &:hover {
            transform: scale(1.1);
            color: $--color-primary2;
        }

     } 

      &__iconHeight {  //ALTURA CAJA ICONO
        height: 3.5rem;
     }

     &__name {   //NOMBRE ICONO
         font-size: 1rem;
     }
     }


     


