
//FONTS

//COLORS

// $--color-bg: #ff6f69;
// $--color-primary: #ffeead;

// $--color-bg:#cc7295;
// $--color-primary: #f2e4dc; 

// $--color-bg: #0e9aa7;
// $--color-primary: #88d8b0;
// $--color-icons:#3da4ab;

// $--color-bg: #30849e;
// $--color-primary: #20ffff;

$--color-primary-variant:rgba(77, 181, 255, 0.4);
$--color-white:#fff;
$--color-hover: #ffeead;
$--color-light:rgba(255, 255, 255, 0.6);

//PURPLE CHOICE


$--color-img: hsl(239, 31%, 63%);
$--color-bg3: hsl(239, 26%, 93%);
$--color-primary:hsl(238, 34%, 38%);
$--color-bg2: hsl(239, 33%, 73%);
$--color-bg: hsl(239, 60%, 92%);
$--color-primary: hsl(239, 29%, 54%);


//SIZES
$--container-width-lg: 75%;
$--container-width-md: 86%;
$--container-width-sm: 90%;

//TRANSITIONS
$--transition: all 400ms ease;

html {
    scroll-behavior: smooth;
}

//Barra de desplazamiento
::-webkit-scrollbar {
     display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: $--color-bg;
    color: $--color-white;
    line-height: 1.7;
    position: relative;

}

a {
font-family: 'Poppins', sans-serif;
}

//General Styles

.container {
    width: $--container-width-lg;
    margin: 0 auto; //Posicionar en el medio horizontalmente
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}


.btn {
    width: max-content;
    display: inline-block;
     padding: 0.75rem 0.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid $--color-primary;
}

img {
    display: block;
    width: 100%;
    object-fit: cover; // Como una imagen se tiene que redimensionar para ajustarse a su contenedor. Con cover el contenido se dimensiona para mantener su relación de aspecto
}

//TEXTURE BACKGROUND WEB

.paperOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: repeat;
    background-image:  url(../../images/billie-holiday.png);
    mix-blend-mode: multiply;
    pointer-events: none;
}