
//FONTS

//COLORS
// $--color-bg:#1f1f38;
// $--color-bg-variant:#2c2c6c;
// $--color-primary: #4db5ff;

$--color-bg:#578079;
$--color-primary: #b3f5bc;


$--color-bg:#cc7295;
$--color-primary: #f2e4dc; 

$--color-bg: #30849e;
$--color-primary: #3fe7e7;
$--color-primary: #20ffff;


$--color-primary-variant:rgba(77, 181, 255, 0.4);
$--color-white:#fff;
$--color-light:rgba(255, 255, 255, 0.6);


//SIZES
$--container-width-lg: 75%;
$--container-width-md: 86%;
$--container-width-sm: 90%;

//TRANSITIONS
$--transition: all 400ms ease;

html {
    scroll-behavior: smooth;
}

//Barra de desplazamiento
::-webkit-scrollbar {
     display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: $--color-bg;
    color: $--color-white;
    line-height: 1.7;
    // background-image: url(../../images/bg-texture.png);
}

a {
font-family: 'Poppins', sans-serif;
}
//General Styles

.container {
    width: $--container-width-lg;
    margin: 0 auto; //Posicionar en el medio horizontalmente
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5 rem;
}

.text-light {
    color: $--color-light;
}

.btn {
    width: max-content;
    display: inline-block;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid $--color-primary;
}

.btn:hover {
    background-color: $--color-white;
    color: $--color-bg;
    border-color: transparent;
}


img {
    display: block;
    width: 100%;
    object-fit: cover; // Como una imagen se tiene que redimensionar para ajustarse a su contenedor. Con cover el contenido se dimensiona para mantener su relación de aspecto
}