
//COLORES DEFINITIVOS

//--ICONOS
$--color-icon-palm:#20ffff;

//LETRAS

//BORDER

//BACKGROUND



//----------------------------------//


//SIZES
$--container-width-lg: 75%;
$--container-width-md: 86%;
$--container-width-sm: 90%;

//TRANSITIONS
$--transition: all 400ms ease;

html {
    scroll-behavior: smooth;
}

//Barra de desplazamiento
::-webkit-scrollbar {
     display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    position: relative;
    background-color: #FFF9F7;
    background-color: #FFFEEE;
}

a {
font-family: 'Poppins', sans-serif;
}

//General Styles

.container {
    width: $--container-width-lg;
    margin: 0 auto; //Posicionar en el medio horizontalmente
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}


.btn {
    width: max-content;
    display: inline-block;
     padding: 0.75rem 0.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid black;
}

img {
    display: block;
    width: 100%;
    object-fit: cover; // Como una imagen se tiene que redimensionar para ajustarse a su contenedor. Con cover el contenido se dimensiona para mantener su relación de aspecto
}

//TEXTURE BACKGROUND WEB

// .paperOverlay {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     background-repeat: repeat;
//     background-image:  url(../../images/billie-holiday.png);
//     mix-blend-mode: multiply;
//     pointer-events: none;
// }
